.slideimage-container{
    position: relative;
    overflow: hidden;
}
.slide{
    display: flex;
    animation: slide 10s infinite;
}
.slide-image{
    flex: 0 0 auto;
    width: 100%;
    transition: tranform 0.3s;
}
.slide-image img{
    width: 99vw;
    object-fit: cover;
}
@keyframes slide{
    0%,20%{
        transform: translateX(0%);
    }
    25%,45%{
        transform: translateX(-100%);
    }
    50%,70%{
        transform: translateX(-200%);
    }
   75%,100%{
        transform: translateX(0%);
    }  
}